__pycache__
stubs.txt

__pychache__ $ git rm --cached __pychache__ rm __pychache__ $ git commit -m Start ignoring __pychache__
__pycache__ $ git rm --cached __pychache__ rm __pycache__ $ git commit -m Start ignoring __pycache__
